.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    padding: 12px;
    font-weight: 700;
}

.logoutbtn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    height: 40px;
    font-weight: 700;
    border: none;
    color: inherit;
    border-radius: 4px;
    background-color: var(--header-bg-color);
    transition: background-color var(--main-animation);
    
        
}

.logoutbtn:hover,
.logoutbtn:focus {
    background-color: var(--btn-hover-bg-color);
}